//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references
    genome = "/projectnb/bf528/materials/labs/lab06/refs/GRCh38.primary_assembly.genome.fa.gz"
    transcript = "NM_000299"
    gene_bed = "/projectnb/bf528/materials/labs/lab06/refs/hg38_genes.bed"

    // Directories
    outdir = "$projectDir/results/"


}

profiles {
    conda {
        conda.enabled = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 8
                    clusterOptions = "-P bf528 -l mem_per_core=8G"
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
resume = true