params {

    samplesheet = "$projectDir/samplesheet.csv"

    // This is the directory where the files are located
    sample_dir = "/projectnb/bf528/materials/labs/lab04/subsampled/*_{R1,R2}.fastq.gz"
    outdir = "$projectDir/results/"

}


profiles{
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
            executor = 'sge'
            clusterOptions = '-P bf528'
            penv = 'omp'
        }
    }
    local {
        process.executor = 'local'
    }

}

executor {
    $local {
        cpus = 1
    }
    $sge {
        queueSize = 8
    }

    queueSize = 6
}

resume = true