//Use the params to define reference files, directories, and CLI options
params {

    // Directories
    outdir = "$projectDir/results/"

}

profiles {
    conda {
        conda.enabled = true
    }

    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'
                }
    }
    local {
        process.executor = 'local'
    }
}

//Miscellaneous CLI flags
resume = true
process.debug = true