params {

    sample_dir = "/projectnb/bf528/materials/labs/lab04/subsampled/*_{R1,R2}.fastq.gz"
    full_dir = "/projectnb/bf528/materials/labs/lab04/full/*_{R1,R2}.fastq.gz"
    outdir = "$projectDir/results/"


}

profiles{
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
            executor = 'sge'
            clusterOptions = '-P bf528'
            penv = 'omp'

            withLabel: process_medium {
                cpus = 4
            }
        }

    }
    local {
        process.executor = 'local'
    }

}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true